.container {
  margin-top: 20px;
}

.content-text {
  padding-top: 8px;
}

.todo-header {
  cursor: pointer;
}

.justify-content-center {
  width: 80% !important;
}

#inputList {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inputList input {
  margin-right: 5px;
}

#table-action {
  width: 100px;
}

tr button {
  display: none !important;
}

tr:hover button {
  display: block !important;
}
